*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    width: 100vh;
    font-family: sans-serif;

}
.btn-primary{
    
    background-color: #FD6E0A;
    color:#ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 35px;
    
}
.btn-primary:hover{
    background-color:#FFF8F3;
    border: 3px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.naving{ 
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
  justify-content: space-between;


    
}

   

.logo-heading{
    font-size:45px;
    color:#181818 ;
    font-weight: 800;
  margin-left: 200px;
  margin-top: 20px;

  
   
    
}
.logo-heading span{
    color:#FD6E0A;
}
.naving>ul{ display: flex;
    
    align-items: center;
    margin-right: 200px;
    margin-top: 20px;
   

}
.naving li{
    list-style: none;
    margin-right: 50px;
}
.ancor{
    text-decoration: none;
    color: #474747;
}

.container{
  
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    background-color: #FFF8F3;
    width: 100vw;
   
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-position:100% 100%;
    
}
.intro{
    width: 50%;
    background-image: url(./../onik_portfolie/img/developer.png);
    background-repeat:no-repeat;
    background-position:10% 100%;
    background-size:70px;
    
    
}
.intro>h3{
    font-size: 46px;
    font-weight:600;
    color: #474747;
    margin-top: 200px;
    margin-bottom: 25px;
    margin-left:200px;
}
.intro>h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    margin-left:200px;
}
.intro>p{
    margin-bottom: 20px;
    color: #181818;
    font-size: 28px;
    margin-left:200px;

}
.btn{
    margin-right: 40px;
    margin-top: 20px;
    margin-left:200px;
}
.btn1{
    background-color:#FFF8F3;
    border: 3px solid #FD6E0A;
    color: #FD6E0A;

}
.btn1:hover{
    background-color: #FD6E0A;
    color:#ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border: 0px;
    font-weight: 700;
    font-size: 20px;
}
.img-fun>img{
    width: 500px;
    height: 600px;
   margin-right:100px;
   margin-top: 150px;

}

.about-section{
    background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
    margin-right:250px;
    margin-left: 250px;
    margin-top: 50px;
}
.about>h1{
    font-size: 32px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    padding-top: 120px;

}
.about>p{
    font-size: 24px;
    font-weight: regular;
    color: #474747;
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 120px;
    
}
.information{
    display: flex;
    padding-top: 100px;
    padding-left: 120px;
}

 .name>p{
    font-size: 20px;
    font-weight: regular;
    color: #474747;
    text-align: center;
 }
 .name>h4{
    font-size: 28px;
    font-weight: semibold;
    color: #181818;
 }
 .email{
    padding-left: 30px;
 }
 .email>p{
    font-size: 20px;
    font-weight: regular;
    color: #474747;
    text-align: center;

 }
 .email>h4{
    font-size: 28px;
    font-weight: semibold;
    color: #181818;
 }
 .br-day{
    padding-left: 30px;
 }
 .br-day>p{
    font-size: 20px;
    font-weight: regular;
    color: #474747;
    text-align: center;

 }
 .br-day>h4{
    font-size: 28px;
    font-weight: semibold;
    color: #181818;

 }
 .from{
    padding-left: 30px;
 }
 .from>p{
    font-size: 20px;
    font-weight: regular;
    color: #474747;
    text-align: center;

 }

 .from>h4{
    font-size: 28px;
    font-weight: semibold;
    color: #181818;


 }
.what-i-do{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 120px;
    
   
    
}
.what-i-do>h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    color: black;
}
.what-i-do>p{
    padding: 0 300px;
    font-size: 24px;
    font-weight: regular;
    color: #474747;
}
.card-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;

}
.card{
    width:270px;
    height:380px;
    background-color: #FFF8F3;
    box-shadow:1px solid black;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 8px;
}
.card>img{
    width: 44px;
    height: 44px;
    margin-top:30px;
    margin-left: 120px;
    margin-bottom: 40px;
}

.javascript-h3{
    font-size: 24px;
    font-weight: bold;
    margin-left: 80px;
}
.react-card{
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
}
.card>p{
    margin-top: 40px;
    font-size:20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align:center;
}
.card:hover{
    border:5px solid #FD6E0A;
    transform: rotate(30);
}
.summary-h1{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.summary{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.education{
    width:510px;
    height: 180;
   border:2px solid#FD6E0A;
   border-radius: 8px;
    
    margin-left: 15px;
    margin-bottom: 18px;
}
.education:hover{
    border: 2px solid blue;
}


.education>h2{
    font-size: 30px;
    font-weight: bold;
   color: black;
   margin-top: 20px;
   
   margin-left: 120px;
   margin-bottom: 25px;
}
.education>h3{
    font-size: 25px;
    font-weight: bold;
     color: black;
     margin-top: 20px;
     margin-left: 120px;
     margin-bottom: 12px;
     margin-right: 20px;
}
.education>h6{
    font-size: 25px;
    font-weight:600;
     color: #D9D9D9;
     margin-left: 120px;
     margin-bottom: 15px;
}
.education>p{
    font-size: 20px;
    color: #757575;
    margin-left: 110px;
    text-align: center;
    margin-bottom: 80px;
}
.btn-5{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-primary{
    margin-top: 80px;
    margin-bottom: 80px;
   
}